# Environnement virtuel
.venv/
venv/
__pycache__/

# Fichiers temporaires
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Notebooks checkpoints
.ipynb_checkpoints/

# Données brutes
data/raw/
data/clean/
*.parquet
*.csv

# Fichiers système
.DS_Store
Thumbs.db
